div.textbox {
    padding: 6px;
    background-color: darkcyan;
    font-family: monospace;
    height: 72px;
}

img.profile {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    float: left;
}

div.headline1 {
    float: right;
    padding-left: 20pt;
    padding-right: 10pt;
    color: aliceblue;
}

div.headline {
    float: right;
    padding-left: 10pt;
    padding-right: 10pt;
    color: aliceblue;
}

div.bottom {
    padding: 6px;
    background-color: darkcyan;
    height: auto;
    display: flex;
    justify-content: center;
}

div.bt {
    float: left;
    padding-left: 50px;
    padding-right: 50px;
}