div.textbox {
    padding: 6px;
    background-color: #3c873a;
    font-family: monospace;
    height: 72px;
}

img.profile {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    float: left;
}

div.headline1 {
    float: right;
    padding-left: 20pt;
    padding-right: 10pt;
    color: aliceblue;
}

div.headline {
    float: right;
    padding-left: 10pt;
    padding-right: 10pt;
    color: aliceblue;
}

div.bottom {
    padding: 6px;
    background-color: #3c873a;
    height: auto;
    display: flex;
    justify-content: center;
    font-family: monospace;
}

div.bt {
    align-items: center;
    float: left;
    padding-left: 50px;
    padding-right: 50px;
}

img.fit {
    max-width: 100%;
    max-height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #303030;
}

a.head:link,
a.head:visited {
    background-color: #3c873a;
    color: white;
    padding: 2px 2px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.head:hover,
a.head:active {
    background-color: #303030;
}

.container {
    position: relative;
    text-align: center;
    color: #ffffff;
}

.center {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
}

.sections {
    text-align: center;
    font-family: monospace;
    color: #3c873a;
    font-size: 16px;
}

.sections p {
    color: aliceblue;
    font-size: 14px;
}

ul {
    list-style-type: none;
    text-align: centerS;
}

#ghlogo {
    float: left;
}

a.web:link,
a.web:visited {
    background-color: #303030;
    color: white;
    padding: 2px 2px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

a.web:hover,
a.web:active {
    background-color: #3c873a;
}

@media screen and (min-width: 1440px) {
    .sections {
        margin-left: 400px;
        margin-right: 400px;
    }
    .center {
        font-size: 24px;
    }
}

@media screen and (min-width: 1224px) and (max-width: 1439px) {
    .sections {
        margin-left: 300px;
        margin-right: 300px;
    }
    .center {
        font-size: 19px;
    }
}

@media screen and (max-width: 1223px) {
    .sections {
        margin-left: 150px;
        margin-right: 150px;
    }
    .center {
        font-size: 14px;
    }
}

@media screen and (max-width: 720px) {
    .sections {
        margin-left: 0px;
        margin-right: 0px;
    }
    div.bottom {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
}