        div.textbox {
            padding: 6px;
            background-color: #3c873a;
            font-family: monospace;
            height: 100px;
            position: fixed;
            z-index: 10000;
            top: 0px;
            width: 100%
        }
        
        img.profile {
            padding-left: 20px;
            padding-top: 12px;
            width: 78px;
            height: 78px;
            border-radius: 50%;
            float: left;
        }
        
        #buffer {
            height: 100px;
        }
        
        div.headline1 {
            float: right;
            padding-left: 20pt;
            padding-right: 10pt;
            color: aliceblue;
        }
        
        div.headline {
            float: right;
            padding-left: 10pt;
            padding-right: 10pt;
            color: aliceblue;
        }
        /*.dropdown {
            position: relative;
            display: inline-block;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;
        }
        
        .dropdown:hover .dropdown-content {
            display: block;
        }*/
        /* The container <div> - needed to position the dropdown content */
        
        .dropdown {
            position: relative;
            display: inline-grid;
            background-color: #3c873a;
            float: right;
            overflow: visible;
        }
        
        .dropbtn {
            background-color: #3c873a;
            padding-right: 42px;
            padding-top: 13px;
        }
        /* Dropdown Content (Hidden by Default) */
        
        .dropdown-content {
            float: none;
            display: none;
            position: relative;
            background-color: #3c873a;
            min-width: 160px;
            z-index: 1;
            overflow: scroll;
        }
        /* Links inside the dropdown */
        
        .dropdown-content a {
            color: #303030;
            padding: 12px 16px;
            text-decoration: none;
            display: -webkit-box;
        }
        /* Change color of dropdown links on hover */
        
        .dropdown-content a:hover {
            background-color: #303030;
            color: antiquewhite;
        }
        /* Show the dropdown menu on hover */
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
        /* Change the background color of the dropdown button when the dropdown content is shown */
        
        .dropdown:hover .dropbtn {
            background-color: #303030;
        }
        
        div.bottom {
            padding: 6px;
            background-color: #3c873a;
            height: auto;
            display: flex;
            justify-content: center;
            font-family: monospace;
            font-size: 14px;
        }
        
        div.bt {
            align-items: center;
            float: left;
            padding-left: 50px;
            padding-right: 50px;
        }
        
        img.fit {
            max-width: 100%;
            max-height: 100%;
        }
        
        body {
            padding: 0px;
            margin: 0px;
            background-color: #303030;
        }
        
        .body {
            margin-left: auto;
            margin-right: auto;
            width: 600px;
        }
        /*a.head:link,
        a.head:visited {
            background-color: #3c873a;
            color: #303030;
            padding: 2px 2px;
            padding-left: 12px;
            padding-right: 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
        
        a.head:hover,
        a.head:active {
            background-color: #303030;
            color: blanchedalmond;
        }*/
        
        a.foot:link,
        a.foot:visited {
            background-color: #3c873a;
            color: #303030;
            padding: 2px 2px;
            padding-left: 12px;
            padding-right: 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
        
        a.foot:hover,
        a.foot:active {
            background-color: #303030;
            color: blanchedalmond;
        }
        
        .container {
            position: relative;
            text-align: center;
            color: #ffffff;
        }
        
        .center {
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: monospace;
        }
        
        .sections {
            border: 15px;
            text-align: center;
            font-family: monospace;
            color: #3c873a;
            font-size: 16px;
        }
        
        .sections p {
            color: aliceblue;
            font-size: 14px;
        }
        
        ul {
            list-style-type: none;
            text-align: centerS;
        }
        
        #ghlogo {
            float: left;
        }
        
        a.web:link,
        a.web:visited {
            background-color: #303030;
            color: white;
            padding: 2px 2px;
            padding-left: 12px;
            padding-right: 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
        
        a.web:hover,
        a.web:active {
            background-color: #3c873a;
        }
        /*.dropdown {
            position: relative;
            display: inline-block;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;
        }
        
        .dropdown:hover .dropdown-content {
            display: block;
        }*/
        
        @media screen and (max-width: 218px) {
            .body {
                width: 218px;
            }
        }
        
        button {
            border-width: 2px;
            border-style: none;
            border-color: none;
            border-image: initial;
        }